# 커밋되지 말아야 하는 파일을 정의하는 파일.
# 폴더별로도 만들 수 있다.

# 기본 노드 모듈. 사실 node_modules 라고 치면 파일, 폴더 가리지않고 다 무시하나, /를 붙여서 폴더임을 알기 쉽게 하는게 일반적.
node_modules/

npm-debug.log

chromedriver/

#파이선 환경변수 세팅 (dotenv)
.env

#sqlite
*.db