#scroll-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item{
    height: 50px;
    background-color: white;
    border:3px solid cyan;
    padding: 10px;
    border-radius: 5px;
}