{% extends "base.html" %}

{% block content %}
<h2>{{ grade }}학년 - {{ curriculum_title }}</h2>
<p>여기에 영어 대화 및 학습 내용을 추가하세요.</p>

<div id="chatbox">
    <div id="chatlog">
        <form id="chatform">
            <input type="text" id="user_input" placeholder="영어로 대화를 시작하시오" required>
            <button type="submit">전송</button>
        </form>
    </div>
</div>
<script>
    document.getElementById('chatForm').addEventListener('submit',function(event){
        event.preventDefault();
        const userInput=document.getElementById('user_input').value;

        document.getElementById('user_input').value = '';
        fetch(window.location.href,{
            method:'POST',
            headers:{
                "Content-Type":'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'user_input':userInput
            })
        })
        //여기서 콜백 반환처리
    })
</script>

{% endblock %}
